
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/site.css" />
</head>
<body>
    <div> 
        <h1>Página Inicial da aplicação</h1>
    </div>
</body>
</html>
