
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Pagina inicial da aplicacao</h1>
</body>
<body>
    <h2>Bem-Vindo usário</h2>
</body>
</html>
